<footer class="container-fluid shadow py-3 text-dark">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row d-flex align-items-end">
          <div class="col-2">
            <img src="{{site.baseurl}}/assets/img/logo1@2x.png" alt="" class="">
          </div>
          <div class="col-10">
            <h2 class="footer-heading">{{ site.title | escape }}</h2>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row d-flex- align-items-center">
      <div class="col-md-4">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
        por <a href="http://ignaciogaldames.com" target="_blank" rel="noopener noreferrer">I.A. Galdames</a>
      </div>
      <div class="col-md-4">
        {%- include social.html -%}
      </div>
      <div class="col-md-4">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>
</footer>